---
layout: default
title: Inici
paginate: 5
---
<div class="home-title">
    <h1>El taller digital dels curiosos</h1>

</div>

<div class="home-image">
    <img src="/assets/imatges/logos/portada.png" alt="Portada" width="300" height=auto>
</div>

<h1>Blog</h1>
<p>Totes les publicacions</p>
<div class="home">
  <section class="posts-list">
      {% for post in paginator.posts %}
      <hr>
      <article class="post-preview">
          <h3 class="post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <div class="post-meta">
              <time datetime="{{ post.date | date_to_xmlschema }}">
                  {{ post.date | date: "%d/%m/%Y" }}
              </time>
          </div>
          <div class="post-excerpt">
              {{ post.excerpt }}
          </div>
          <a href="{{ post.url | relative_url }}" class="read-more">Llegir més →</a>
      </article>

      {% endfor %}
  </section>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">← Anterior</a>
      {% endif %}

      <span class="page_number">
          Pàgina {{ paginator.page }} de {{ paginator.total_pages }}
      </span>

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="next">Següent →</a>
      {% endif %}
  </div>
  {% endif %}
</div> 