<header>
  <div class="header-site-title">
    <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <img class="header-site-title-logo" src="/assets/imatges/logos/logo-qode66-gris.png" alt="Logo Qode66" width="150">
    <a id="cartrotech-link" href="https://cartrotech.github.io/" target="_blank" rel="noopener noreferrer" title="CartroTech">
      <img class="header-site-title-logo" src="/assets/imatges/logos/cartrotech_logo.png" alt="Logo Cartrotech" width="50">
    </a>
  </div>
  <div class="header-navigation">
    {% include navigation.html %}
  </div>

</header> 