<link rel="stylesheet" href="{{ '/assets/css/nav-style.css' | relative_url }}">

<nav>
  <a href="{{ '/' | relative_url }}">Inici</a>
  <a href="{{ '/about' | relative_url }}">Qui sóc?</a>
  
  <div class="dropdown">
    <a href="{{ '/categorias/arduino' | relative_url }}" class="dropdown-toggle">Arduino</a>
    <div class="dropdown-menu">
      <a href="{{ '/categorias/actuadores' | relative_url }}">Actuadors</a>
      <a href="{{ '/categorias/basic' | relative_url }}">Bàsic</a>
      <a href="{{ '/categorias/display' | relative_url }}">Display</a>
      <a href="{{ '/categorias/leds' | relative_url }}">Leds</a>
      <a href="{{ '/categorias/sensors' | relative_url }}">Sensors</a>
    </div>
  </div>

  <div class="dropdown">
    <a href="{{ '/categorias/pneumatica' | relative_url }}" class="dropdown-toggle">Neumàtica</a>
    <div class="dropdown-menu">
      <a href="{{ '/categorias/fonaments' | relative_url }}">Fonaments</a>
    </div>
  </div>
</nav>
