:root {
  /* Tema claro */
  /* Colores de fondo */
  --bg-primary: #bbd6da;
  --bg-secondary: #FFFFFF;
  
  /* Colores de texto */
  --text-primary: #000910;
  --text-secondary: #000000;
  
  /* Colores de acento */
  --accent-primary: #066D95;    /* Azul eléctrico - color principal */
  --accent-secondary: #F5850E;  /* Verde lima neón - detalles y acentos */
  --accent-tertiary: #33CCEB;   /* Naranja vibrante - tercer acento */
}

[data-theme="dark"] {
  /* Tema oscuro */
  /* Colores de fondo */
  --bg-primary: #000910; 
  --bg-secondary: #000000;
  
  /* Colores de texto */
  --text-primary: #bbd6da;
  --text-secondary: #FFFFFF;
  
  /* Los acentos se mantienen para consistencia de marca */
  --accent-primary: #066D95;
  --accent-secondary: #F5850E;
  --accent-tertiary: #33CCEB;
}

/* Aseguramos transiciones suaves entre temas */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
} 