footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--accent-primary);
  color: var(--text-secondary);
  padding: 1rem 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--accent-primary);
  }
  
.social-icons a {
    color: inherit;
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  
.social-icons a:hover {
    color: var(--accent-secondary);
    transform: scale(1.2);
  }

.footer-content-left, .footer-content-center, .footer-content-right {
    flex: 1;
    margin-bottom: 2rem;
  }

  .footer-content-right {
    text-align: right;
  }