@import "./colors.css";

.post {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.post-header {
    background: none;                                                                                                                                                                                                                                                                                     
    border-bottom: 1px solid var(--accent-primary);
    margin-bottom: 2rem;
    display: block;
    align-items: center;
    justify-content:space-between;
}   

.post-footer {
    margin-top: 1rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.post-meta {
    font-size: 0.9em;
}

.blog-image {
    text-align: center;
    margin-bottom: 2rem;
}

.blog-image img {
    max-width: 80%;
    height: auto;
}

.tables-post {
    text-align: center;
}

.tables-post table {
    border-collapse: collapse;
    margin: 0 auto;
}

.tables-post th,
.tables-post td {
    border: 1px solid var(--accent-primary);
    padding: 6px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.tables-post th {
    background-color: var(--accent-primary);
    color: var(--bg-secondary);
    font-weight: bold;
}