<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/colors.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header-style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

    {% include header.html %}

  <div class="container">
    <main class="page-content">
      <article>
        <h2>{{ page.title }}</h2>
        <div class="page-content">
          {{ content }}
        </div>
      </article>
    </main>
  </div>

  <footer>
    <p>© {{ site.time | date: "%Y" }} Q. Serrano</p>
  </footer>
</body>
</html> 